# Игнорировать всё
*

# Явно разрешаем нужные файлы и папки
!.gitignore
!README.md

!Documents/
!Documents/WindowsPowerShell/
!Documents/WindowsPowerShell/*

!Documents/progs/
!Documents/progs/CMD/
!Documents/progs/CMD/shntool.exe
!Documents/progs/CMD/ttaenc.exe